
*{
  margin: 0;
  padding: 0;
}

body{

  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
  background-color: transparent;
}

@-webkit-keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}